<!--https://itsakura.com/springboot-layout-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <header th:fragment="header">
  	<button class="btn-menu" id="btn-menu">メニュー</button>
  	<nav>
	  <ul>
		<li th:each="obj: ${menu}">
		  <a th:href="${obj[0]}" th:text="${obj[1]}" id="aa"></a>
		</li>
	  </ul>
  	</nav>
  	<label th:text="${title}"></label>
  </header>
  <chuui th:fragment="chuui">IEサポート終了に伴い...</chuui>
  <div th:fragment=="pager" class="pager">
    <button type="button" class="first"><<</button>
    <button type="button" class="prev"><</button>
    <span class="pagedisplay"></span>
    <button type="button" class="next">></button>
    <button type="button" class="last">>></button>
    <select class="pagesize" title="Select page size">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
    </select>
    <select class="gotoPage" title="Select page number"></select>
  </div>
<!--  <footer th:fragment="footer">
    <p style="background: yellow">フッターです</p>
  </footer>-->
</html>