<!--https://itsakura.com/springboot-layout-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <header th:fragment="header">
  	<button class="btn-menu" id="btn-menu">メニュー</button>
  	<nav>
  		<ul>
  			<li><a href="/daicho" id="aa">台帳システム</a>
  			<li><a href="/upload" id="aa">アップロード</a>
  			<li><a href="/fax/tokyo" id="aa">FAX管理表</a>
  			<li><a href="/ocr/list" id="aa">OCRリスト</a>
  			<li><a href="/errl/list" id="aa">ERRLリスト</a>
  			<li><a href="javascript:btnClick()" id="aa">閉じる</a>
  		</ul>
  	</nav>
  	<label th:text="${title}"></label>
  </header>
  <chuui th:fragment="chuui">IEサポート終了に伴い...</chuui>
<!--  <footer th:fragment="footer">
    <p style="background: yellow">フッターです</p>
  </footer>-->
</html>