<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}"></title>
<!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script type="text/javascript" th:src="@{/js/lib/jquery-3.5.1.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/lib/jquery-ui.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/lib/jquery.tablesorter.combined.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/lib/extras/jquery.tablesorter.pager.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/lib/widgets/widget-scroller.min.js}"></script>
  <!--<script type="text/javascript" src="js/lib/jquery.ui.datepicker-ja.min.js"></script>-->
  <link rel="stylesheet" th:href="@{/css/lib/theme.blue.css}">
  <link rel="stylesheet" th:href="@{/css/lib/jquery-ui.css}">
  <link rel="stylesheet" th:href="@{/css/common-bts.css}">
</head>
<body>
  <!--  header part-->
  <div th:replace="common::header"></div>
  <script th:inline="javascript" th:src="@{/js/menu.js}"></script>
  <form th:action="${url}" method="post">
     帳票名: <input type="text" name="form">
     日付:  <input type="date" name="date_fr">～<input type="date" name="date_to">
     <button type="submit">検索</button><br>
	 <div th:replace="common::chuui"></div>
  </form>
  
  <div th:replace="common::maildialog"></div>
	  
  <!--  <div th:replace="common::pager"></div>-->
  <table id="table" class="tablesorter">
  	<thead><tr align=center>
  		<th style="font-size: 11pt;">作成日時</th>
  		<th style="font-size: 11pt;">作成者</th>
  		<th style="font-size: 11pt;">帳票名</th>
   		<th style="font-size: 11pt;">ファイル名</th>
  		<th style="font-size: 11pt;">POリスト</th>
  		<th style="font-size: 11pt;">送信</th>
		<!--<th style="font-size: 11pt;">送信日時</th>-->
		<!--<th style="font-size: 11pt;">送信者</th>-->
	</tr></thead>
    <tbody><tr th:each="obj : ${list}">
		<td width="200" th:text="${obj.createdDate}"></td>
		<td width="100" th:text="${obj.createdBy}"></td>
		<td width="100" th:text="${obj.toriMei}"></td>
		<td width="400" ><a th:href="${obj.uploadPath}" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" target="_blank" th:text="${obj.fileName}"></a></td>
		<td width="100" ><div th:title="${obj.poList}">POリスト</DIV></td>
		<td width="100" ><input type="button" value="メール" onclick="sendMail(this)">
			<input type='hidden' id='type' th:value="${obj.type}">
			<input type='hidden' id='subject' th:value="${obj.subject}">
			<input type='hidden' id='attach' th:value="${obj.fileName}">
			<input type='hidden' id='body' th:value="${obj.poList}">
			<input type='hidden' id='uploadPath' th:value="${obj.uploadPath}"></td>
		<!--<td th:text="${obj.saveDate}"></td>-->
		<!--<td th:text="${obj.saveBy}"></td>-->
	</tr></tbody>
  </table>
  <script th:inline="javascript">
    $(document).ready(function() {
    	$("table").tablesorter({
			theme: 'blue',
			widthFixed: true,
			//zebra:1行ごとに色を変える
			//columns:選択した列の色を変える
			//filter:列にフィルタ機能を追加する
			//resi	zable:列のリサイズをする
			//stickyHeaders:スクロールの際にヘッダを固定する
			//scroller:ヘッダを固定 --> これを指定すると、列幅のリサイズが効かなくなる	
			//widgets: ['zebra', 'columns', 'resizable', 'pager', 'sticyHeaders', 'scroller'],
			widgets: ['zebra', 'columns', 'resizable', 'sticyHeaders'],
			//https://qiita.com/fj58p/items/2b47b84fd7223de8b9be
	        //widgetOptions: {
	        //    scroller_height : 1000	// テーブルの髙さの指定
	        //}
		});
		//$("table").tablesorterPager({
		//	container: $(".pager"),
		//});
	});
  	$(function() {
		$(".datepicker").datepicker();
	});
    //https://rukiadia.hatenablog.jp/entry/2014/02/19/132445
	//「メール」ボタンをクリックしたとき
	var toId;
	var toaddr;
	var ccaddr;
	var type;
	var subject;
	var attach;
	var body;
	var uploadPath;
	function sendMail(obj) {
		console.log("button:" + obj.value);
        // メールに記載したい情報をhiddenタグから取得
        type = obj.nextElementSibling.value
		console.log("type:" + type);
		document.getElementById("type").innerText = type;
        subject = obj.nextElementSibling.nextElementSibling.value;
		console.log("subject:" + subject);
		document.getElementById("subject").innerText = subject;
        attach = obj.nextElementSibling.nextElementSibling.nextElementSibling.value;
		console.log("attach:" + attach);
		document.getElementById("attach").innerText = attach;
        body = obj.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.value;
        body = body.replaceAll(" ", "\n");
        body = "注文番号(PO)\n" + body;
		console.log("body:" + body);
		let textarea = document.getElementById('body');
		textarea.value = body;		
        uploadPath = obj.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.value;
        
		$("#modalForm").modal('show'); 
	}
	
	//「送信」ボタンをクリックしたとき
	$('#chgDateSub').on('click', function() {
		console.log('送信処理');
		toId = $('#toaddr option:selected').val();
		//toaddr = $('#toaddr option:selected').text();
		ccaddr = document.getElementById("ccaddr").innerText
		subject = document.getElementById("subject").innerText
		attach = document.getElementById("attach").innerText
		console.log("toId:" + toId);
		//console.log("toaddr:" + toaddr);
		console.log("ccaddr:" + ccaddr);
		console.log("subject:" + subject);
		console.log("attach:" + uploadPath);
		console.log("uploadPath:" + uploadPath);
		console.log("body:\n" + body);
		if (toId == "") {
			alert('宛先を選択してください');
			return;
		}
		if (ccaddr == null) {
			ccaddr == ""
		}
		var result = window.confirm("SPへ添付メール送信しますか？\n"
								  + "---------------------------------------------\n"
								  + "宛先: " + toId + "\n"
								  + "ＣＣ: " + ccaddr + "\n"
								  + "件名: " + subject + "\n"
								  + "添付: " + attach + "\n"
								  + "本文: \n" + body + "\n"
								  + "---------------------------------------------\n");
		if (result != true) {
			//キャンセル
			return;
		}
		//登録処理開始
   	    $.post('sendmail', 'type=sendmail&toaddr='+toId+'&ccaddr='+ccaddr+'&subject='+subject+'&attach='+attach+'&body='+body+'&uploadPath='+uploadPath)
        .done(function (data) {
            // 通信成功時のコールバック
            console.log(data);
			alert("送信完了しました。\n 宛先: " + toId);
		}).fail(function(err) {
			console.log(err);
		});
		
		$("#modalForm").modal('hide');
	});	
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
