<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}"></title>
<!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script type="text/javascript" th:src="@{/js/lib/jquery-3.5.1.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/lib/jquery-ui.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/lib/jquery.tablesorter.combined.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/lib/extras/jquery.tablesorter.pager.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/lib/widgets/widget-scroller.min.js}"></script>
  <!--<script type="text/javascript" src="js/lib/jquery.ui.datepicker-ja.min.js"></script>-->
  <link rel="stylesheet" th:href="@{/css/lib/theme.blue.css}">
  <link rel="stylesheet" th:href="@{/css/lib/jquery-ui.css}">
  <link rel="stylesheet" th:href="@{/css/common-bts.css}">
</head>
<body>
  <!--  header part-->
  <div th:replace="common::header"></div>
  <script th:inline="javascript" th:src="@{/js/menu.js}"></script>
  <form th:action="${url}" method="post">
     帳票名: <input type="text" name="form">
     日付:  <input type="date" name="date_fr">～<input type="date" name="date_to">
     <button type="submit">検索</button><br>
	 <div th:replace="common::chuui"></div>
  </form>
  
  <!--ボタンの設定
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalForm">
    モーダル展開ボタン
  </button> -->
  
  <!-- https://masalib.hatenablog.com/entry/2020/11/14/000000 -->
  <!-- Modal の中身 -->
  <div class="modal fade" id="modalForm" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal ヘッダー -->
        <div class="modal-header">
            <h5 class="modal-title" id="Modal">メール送信フォーム</h5>
            <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
            </button>
        </div>
        <form role="form" id="form1">
          <!-- Modal ボディー -->
          <div class="modal-body">
            <div class="form-group">
                <label for="cusno">宛先</label>
				<select name="toaddr" id="toaddr" required>
					<option value="">選択してください</option>
					<option value="1">宛先1<test1@gmail.com></option>
					<option value="2">宛先2<test2@gmail.com></option>
				</select>
                <br>
                <label for="cusno">ＣＣ</label>
                <input type="text" name="ccaddr" id="ccaddr">　　
                <br>
                <label for="cusno">件名</label>
				<label name="subject" id="subject">件名</label>
                <br>
                <label for="cusno">添付</label>
				<label name="attach" id="attach">添付ファイル</label>
                <br>
                <label for="cusno">本文</label>
				<textarea name="body" id="body" cols="22" rows="5" style="vertical-align:top;" value="本文"></textarea>
            </div>
          </div>
          <!-- Modal フッター -->
          <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">キャンセル</button>
          <button type="button" class="btn btn-primary" id="chgDateSub">送信</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- ------------------------------------------------------ -->
	  
  <!--  <div th:replace="common::pager"></div>-->
  <table id="table" class="tablesorter">
  	<thead><tr align=center>
  		<th style="font-size: 11pt;">作成日時</th>
  		<th style="font-size: 11pt;">作成者</th>
  		<th style="font-size: 11pt;">帳票名</th>
   		<th style="font-size: 11pt;">ファイル名</th>
  		<th style="font-size: 11pt;">POリスト</th>
  		<th style="font-size: 11pt;">送信</th>
		<!--<th style="font-size: 11pt;">送信日時</th>-->
		<!--<th style="font-size: 11pt;">送信者</th>-->
	</tr></thead>
    <tbody><tr th:each="obj : ${list}">
		<td th:text="${obj.createdDate}"></td>
		<td th:text="${obj.createdBy}"></td>
		<td th:text="${obj.toriMei}"></td>
		<td><a th:href="${obj.uploadPath}" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" target="_blank" th:text="${obj.fileName}"></a></td>
		<td><div th:title="${obj.poList}">POリスト</DIV></td>
		<td><input type="button" value="メール" onclick="sendMail(this)">
			<input type='hidden' id='type' th:value="${obj.type}">
			<input type='hidden' id='subject' th:value="${obj.subject}">
			<input type='hidden' id='attach' th:value="${obj.fileName}">
			<input type='hidden' id='body' th:value="${obj.poList}">
			<input type='hidden' id='errlId' th:value="${obj.errlId}"></td>
		<!--<td th:text="${obj.saveDate}"></td>-->
		<!--<td th:text="${obj.saveBy}"></td>-->
	</tr></tbody>
  </table>
  <script th:inline="javascript">
    $(document).ready(function() {
    	$("table").tablesorter({
			theme: 'blue',
			widthFixed: true,
			//zebra:1行ごとに色を変える
			//columns:選択した列の色を変える
			//filter:列にフィルタ機能を追加する
			//resi	zable:列のリサイズをする
			//stickyHeaders:スクロールの際にヘッダを固定する
			//scroller:ヘッダを固定 --> これを指定すると、列幅のリサイズが効かなくなる	
			//widgets: ['zebra', 'columns', 'resizable', 'pager', 'sticyHeaders', 'scroller'],
			widgets: ['zebra', 'columns', 'resizable', 'sticyHeaders'],
			//https://qiita.com/fj58p/items/2b47b84fd7223de8b9be
	        //widgetOptions: {
	        //    scroller_height : 1000	// テーブルの髙さの指定
	        //}
		});
		//$("table").tablesorterPager({
		//	container: $(".pager"),
		//});
	});
  	$(function() {
		$(".datepicker").datepicker();
	});
    //https://rukiadia.hatenablog.jp/entry/2014/02/19/132445
	//「メール」ボタンをクリックしたとき
	var toId;
	var toaddr;
	var ccaddr;
	var type;
	var subject;
	var attach;
	var body;
	var errlId;
	function sendMail(obj) {
		console.log("button:" + obj.value);
        // メールに記載したい情報をhiddenタグから取得
        type = obj.nextElementSibling.value
		console.log("type:" + type);
		document.getElementById("type").innerText = type;
        subject = obj.nextElementSibling.nextElementSibling.value;
		console.log("subject:" + subject);
		document.getElementById("subject").innerText = subject;
        attach = obj.nextElementSibling.nextElementSibling.nextElementSibling.value;
		console.log("attach:" + attach);
		document.getElementById("attach").innerText = attach;
        body = obj.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.value;
        body = body.replaceAll(" ", "\n");
        body = "注文番号(PO)\n" + body;
		console.log("body:" + body);
		let textarea = document.getElementById('body');
		textarea.value = body;		
        errlId = obj.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.value;
        
		$("#modalForm").modal('show'); 
	}
	
	//「送信」ボタンをクリックしたとき
	$('#chgDateSub').on('click', function() {
		console.log('click');
		toId = $('#toaddr option:selected').val();
		toaddr = $('#toaddr option:selected').text();
		//ccaddr = $('#ccaddr').text();
		ccaddr = document.getElementById("ccaddr").innerText
		subject = document.getElementById("subject").innerText
		attach = document.getElementById("attach").innerText
		console.log("toaddr:" + toaddr);
		console.log("ccaddr:" + ccaddr);
		console.log("subject:" + subject);
		console.log("attach:" + attach);
		console.log("body:" + body);
		console.log("errlId:" + errlId);
		
		var result = window.confirm("SPへ添付メール送信しますか？\n");
		if (result != true) {
			//キャンセル
			return;
		}
		//登録処理開始
		const formData = new FormData();
		formData.append('type', "sendmail");
		formData.append('toaddr', toaddr);
		formData.append('ccaddr', ccaddr);
		formData.append('subject', subject);
		formData.append('attach', attach);
		formData.append('body', body);
		formData.append('errlId', errlId);
		console.log(formData);
   	    $.post('sendmail', 'type=sendmail&toaddr='+toaddr+'toaddr='+ccaddr+'ccaddr='+subject+'subject='+attach+'attach='+attach+'body='+body+'errlId='+errlId)
        .done(function (data) {
            // 通信成功時のコールバック
            console.log(data);
			alert("送信完了しました。\n 宛先: " + toaddr);
		}).fail(function(err) {
			console.log(err);
		});
		
		$("#modalForm").modal('hide');
	});	
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
