<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}"></title>
  <script type="text/javascript" th:src="@{/js/lib/jquery-3.5.1.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/lib/jquery-ui.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/lib/jquery.tablesorter.combined.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/lib/extras/jquery.tablesorter.pager.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/lib/widgets/widget-scroller.min.js}"></script>
<!--   <script type="text/javascript" src="js/lib/jquery.ui.datepicker-ja.min.js"></script> -->
  <link rel="stylesheet" th:href="@{/css/lib/theme.blue.css}">
  <link rel="stylesheet" th:href="@{/css/lib/jquery-ui.css}">
  <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
  <!--  header part-->
  <div th:replace="common::header"></div>
  <script th:inline="javascript" th:src="@{/js/menu.js}"></script>
  <form th:action="${url}" method="post">
     帳票名: <input type="text" name="form">
     日付:  <input type="date" name="date_fr">～<input type="date" name="date_to">
     <button type="submit">検索</button><br>
	 <div th:replace="common::chuui"></div>
  </form>
  <!--  <div th:replace="common::pager"></div>-->
  <table id="table" class="tablesorter">
  	<thead><tr align=center>
   		<th id="table-header">ID</th>
  		<th id="table-header">帳票</th>
  		<th id="table-header">ステータス</th>
  		<th id="table-header">日時</th>
  		<th id="table-header">ファイル名</th>
  		<th id="table-header">OCR</th>
	</tr></thead>
    <tbody><tr th:each="obj : ${list}">
		<td><a th:href="${'/ocr/result?unitId=' + obj.unitId + '&type=0'}" target="_blank" th:text="${obj.unitId}"></a></td>
		<td><a th:href="${'/ocr/result?unitId=' + obj.unitId + '&type=1'}" target="_blank" th:text="${obj.unitName}"></a></td>
		<td th:text="${obj.status}"></td>
		<td th:text="${obj.createdAt}"></td>
		<td><a th:href="${obj.uploadFilePath}" target="_blank" th:text="${obj.fileName}"></a></td>
		<td th:text="${obj.linkUrl != null}? 'OCR' : '-'"></td>
	</tr></tbody>
  </table>
  <script th:inline="javascript">
    $(document).ready(function() {
    	$("table").tablesorter({
			theme: 'blue',
			widthFixed: true,
			//zebra:1行ごとに色を変える
			//columns:選択した列の色を変える
			//filter:列にフィルタ機能を追加する
			//resizable:列のリサイズをする
			//stickyHeaders:スクロールの際にヘッダを固定する
			//scroller:ヘッダを固定 --> これを指定すると、列幅のリサイズが効かなくなる	
			//widgets: ['zebra', 'columns', 'resizable', 'pager', 'sticyHeaders', 'scroller'],
			widgets: ['zebra', 'columns', 'resizable', 'sticyHeaders'],
			//https://qiita.com/fj58p/items/2b47b84fd7223de8b9be
	        //widgetOptions: {
	        //    scroller_height : 1000	// テーブルの髙さの指定
	        //}
		});
		//$("table").tablesorterPager({
		//	container: $(".pager"),
		//});
	});
  	$(function() {
		$(".datepicker").datepicker();
	});
  </script>
</body>
</html>
